<nav>
  <ul class="pagination">
    {{#if canStepBackward}}
      <li class="page-item">
        <a class="page-link" href="#" {{action "incrementPage" -1}} aria-label="Previous">
          {{fa-icon "chevron-left"}}
        </a>
      </li>
    {{else}}
      <li class="page-item disabled">
        <span class="page-link" aria-label="Previous">
          {{fa-icon "chevron-left"}}
        </span>
      </li>
    {{/if}}

    {{#each pageItems as |item|}}
      {{#if item.dots}}
        <li class="page-item disabled">...</li>
      {{/if}}
      {{#if item.current}}
        <li class="page-item active">
          <span class="page-link">{{item.page}}</span>
        </li>
      {{else}}
        <li class="page-item">
          <a class="page-link" href="#" {{action "pageClicked" item.page}}>
            {{item.page}}
          </a>
        </li>
      {{/if}}
    {{/each}}

    {{#if canStepForward}}
      <li class="page-item">
        <a class="page-link" href="#" {{action "incrementPage" 1}} aria-label="Next">
          {{fa-icon "chevron-right"}}
        </a>
      </li>
    {{else}}
      <li class="page-item disabled">
        <span class="page-link" aria-label="Next">
          {{fa-icon "chevron-right"}}
        </span>
      </li>
    {{/if}}
  </ul>
</nav>
