<div class="container-fluid">
  <form {{action "saveIngredient" model on="submit" bubbles=false}} class="m-t-1">
    <div class="form-group row">
      <label for="name" class="col-xs-4 col-sm-2 form-control-label">Name</label>
      <div class="col-xs-8 col-sm-10">
        {{twbs-input value=model.name name="name" focus=true placeholder="Growtein Strawberry"}}
        {{errors-for this 'name'}}
      </div>
    </div>

    <div class="row m-t-1">
      <div class="col-xs-12">
        {{twbs-btn
            type='submit'
            action='saveRecipe'
            sizing='lg'
            text='Save'
            textDisabled='Saving'
            disabled=isSaving
            color='success'}}

        <button type="button" {{action 'cancelEditing' model}} class="btn btn-lg btn-default">
          Cancel
        </button>
      </div>
    </div>
  </form>
</div>
