@import 'theme/variables';
@import 'theme/mixins';

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: block;
}
/* -----------------------------------------------------------------------------
  Main Layout - Flex
----------------------------------------------------------------------------- */

/* Mobile */

$_sidebar-height: 52px;

#main-content {
  display: flex;
  height: 100%;
  flex-direction: column;
}

#sidebar {
  position: fixed;
  width: 100%;
  overflow: hidden;
  height: $_sidebar-height;

  display: flex;
  flex-direction: column;
  flex-grow: 0;

  &.open {
    flex: 1 100%;
    height: 100%;
  }
}

#content {
  padding-top: $_sidebar-height;
}

/* Tablet & Up */

@include media-breakpoint-up(md) {
  #main-content {
    flex-direction: row;
  }

  #sidebar {
    &, &.open {
      position: relative;
      height: 100%;
      flex-shrink: 0;
      width: 250px;

      #sidebar-toggle {
        display: none;
      }
    }
  }

  #content {
    padding-top: 0px;
    flex: 1;
    max-height: 100%;
    overflow-y: auto;
  }
}

/* Sidebar Styles */

#sidebar-header {
  display: flex;
  align-items: center;
}

#sidebar {
  background-color: $sidebar-bg;
  color: $sidebar-color;
}

#sidebar-header {
  background-color: $sidebar-brand-bg;
  border-bottom: 2px solid $sidebar-brand-border;
}

#sidebar-brand {
  margin: 0px;
  padding: 2px 0px;
  flex: 1;
  text-align: left;
}

#sidebar-toggle {
  flex: 1;
  text-align: right;
}

#sidebar-toggle-button {
  color: $sidebar-brand-color;
  font-size: 1.4em;
  padding: 4px 8px;

  &:hover, &.active {
    background-color: $sidebar-link-active-bg;
  }
}

#sidebar {
  .sidebar-wrapper {
    padding: 8px 10px;
  }
}

#sidebar-menu {
  padding: .35em 0;
  overflow-y: scroll;
}

#sidebar > nav {
  a, h4 {
    padding: .25em .75em;
    margin: .25em .75em;
  }

  a {
    color: $sidebar-color;
    font-size: .85em;
    display: block;
    border-radius: $pill-border-radius;

    text-decoration: none;

    &:hover, &.active {
      background-color: $sidebar-link-active-bg;
    }
  }

  h4 {
    font-size: .75em;
    padding-bottom: .35em;
    margin-bottom: .5em;
    border-bottom: 1px solid $app-gray;
    color: $app-gray;
  }
}

#sidebar-header {
  flex: 0 52px;
}

#sidebar-menu {
  flex: 1;
}

#sidebar-account {
  width: 100%;
  align-self: flex-end;
  flex: 0 38px;
  display: flex;
  align-items: center;

  border-top: 1px solid lighten($sidebar-bg, 5%);

  a { flex: 1; }
}

.section-navbar {
  display: flex;
  align-items: center;
  padding: 8px 10px;
  height: $_sidebar-height;
  border-bottom: 2px solid $section-nav-border-color;
  background-color: $section-nav-bg-color;

  .section-title {
    margin: 0px;
  }
}
