<div class="container-fluid">
  <form {{action "saveNutrient" on="submit" bubbles=false}} class="m-t-1">
    <div class="form-group row">
      <label for="name" class="col-xs-4 col-sm-2 form-control-label">Name</label>
      <div class="col-xs-8 col-sm-10">
        {{twbs-input value=model.name name="name" placeholder="Iron"}}
        {{errors-for this 'name'}}
      </div>
    </div>

    <div class="form-group row">
      <div class="col-xs-4 col-sm-2 form-control-label">Standard</div>
      <div class="col-xs-8 col-sm-10">
        <div class="checkbox">
          <label for="standard">
            {{input type="checkbox" name="standard" checked=model.standard}}
          </label>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-xs-4 col-sm-2 form-control-label">Unit</div>
      <div class="col-xs-8 col-sm-10">
        {{#x-select value=model.defaultUnit class="c-select"}}
          {{#each unitwiseUnits as |unit|}}
            {{#x-option value=unit}}{{unit}}{{/x-option}}
          {{/each}}
        {{/x-select}}

        {{errors-for this 'defaultUnit' 'Unit'}}
      </div>
    </div>

    <div class="form-group row">
      <div class="col-xs-4 col-sm-2 form-control-label">Category</div>
      <div class="col-xs-8 col-sm-10">
        {{#x-select value=model.nutrientCategory.content action="selectNutrientCategory" class="c-select"}}
          <option>Select a Category</option>
          {{#each nutrientCategories as |category|}}
            {{#x-option value=category}}{{category.name}}{{/x-option}}
          {{/each}}
        {{/x-select}}

        {{errors-for this 'nutrientCategory' 'Category'}}
      </div>
    </div>

    <div class="row m-t-1">
      <div class="col-xs-12">
        {{twbs-btn
            type='submit'
            action='saveNutrient'
            sizing='lg'
            text='Save'
            textDisabled='Saving'
            disabled=isSaving
            color='success'}}

        {{#twbs-btn action='cancelEditing' sizing="lg" color="default"}}
          Cancel
        {{/twbs-btn}}
      </div>
    </div>
  </form>
</div>
