<header class="table-header">
  <ul class="nav nav-pills">
    <li class="nav-item">
      {{#link-to 'app.nutrients.index' class="nav-link"}}
        Nutrients
      {{/link-to}}
    </li>

    <li class="nav-item">
      {{#link-to 'app.nutrients.categories.index' class="nav-link"}}
        Categories
      {{/link-to}}
    </li>
  </ul>

  {{outlet "nutrient-header-buttons"}}
</header>
