@import 'scss/variables';

// -------------------
// Theme Variables
// -------------------

$app-blue: #1b91ff;
$app-blue-light: lighten($app-blue, 5%);
$app-blue-lighter: lighten($app-blue, 10%);

$app-yellow: darken(#ffffa0, 3%);
$app-yellow-dark: darken($app-yellow, 15%);
$app-yellow-light: lighten($app-yellow, 5%);
$app-yellow-lighter: lighten($app-yellow, 10%);

$app-gray-darker: #333;
$app-gray-dark: #666;
$app-gray: #999;
$app-gray-light: #ddd;
$app-gray-lighter: #f7f7f7;

// -------------------
// Theme Settings
// -------------------

$pill-border-radius: 20px;

// Sidebar
$sidebar-brand-color: #fff;
$sidebar-brand-bg: $app-blue;
$sidebar-brand-border: darken($app-blue, 5%);

$sidebar-bg: $app-gray-darker;
$sidebar-color: #fff;
$sidebar-accent: darken($app-blue, 5%);
$sidebar-link-active-bg: $app-gray-dark;

// Section Nav
$section-nav-bg-color: $app-gray-lighter;
$section-nav-border-color: $app-gray;

$section-nav-pill-radius: $pill-border-radius;
$section-nav-pill-color: #000;
$section-nav-pill-bg: #fff;
$section-nav-pill-active-color: #fff;
$section-nav-pill-active-bg: $app-blue-lighter;

// Breadcrumb
$breadcrumb-separator-color: $app-gray;
$breadcrumb-link-color: #000;
$breadcrumb-link-underline-color: $app-gray;
$breadcrumb-link-active-color: $breadcrumb-link-color;
$breadcrumb-link-active-underline-color: $breadcrumb-link-color;

// Tables
$table-header-active-color: $app-blue;

$table-header-inverse-bg-color: $gray-dark;
$table-header-inverse-active-color: $app-blue;

// Specific Model Colors
$ingredient-bg: lighten($app-blue-lighter, 5%);
$ingredient-color: #fff;

$recipe-bg: $app-yellow-light;
$recipe-color: #000;


// -------------------
// Bootstrap Overrides
// -------------------

// Basic Customizations

$enable-flex: true;
$enable-rounded: false;
$enable-gradients: false;
$enable-shadows: false;

// Grid
$grid-gutter-width: 40px;

// Forms

$input-color: none;
$input-border-color: false;
$input-btn-border-width: 0px;
$input-box-shadow: none;

$input-border-focus: none;
$input-box-shadow-focus: none;

$input-padding-y: .75rem;
$form-group-margin-bottom: .325rem;

// Code
$code-color: #fff;
$code-bg: $app-blue-light;
