<div class="container-fluid">
  <form {{action "saveInventory" on="submit" bubbles=false}} class="m-t-1">

    <div class="form-group row">
      <label for="purchasedOn" class="col-xs-4 col-sm-2 form-control-label">Purchase Date</label>
      <div class="col-xs-8 col-sm-10">
        {{pikaday-input value=model.purchasedOn
            class="form-control monospaced"
            format="YYYY/MM/DD"
            maxDate=todaysDate
            placeholder="YYYY/MM/DD"}}

        {{errors-for this 'purchasedOn' 'Purchase date'}}
      </div>
    </div>

    <div class="form-group row">
      <label for="lotNumber" class="col-xs-4 col-sm-2 form-control-label">Lot Number</label>
      <div class="col-xs-8 col-sm-10">
        {{twbs-input value=model.lotNumber
            class="monospaced"
            name='lotNumber'
            placeholder="Unique Lot Number"}}

        {{errors-for this 'lotNumber'}}
      </div>
    </div>

    <div class="form-group row">
      <label for="ingredient" class="col-xs-4 col-sm-2 form-control-label">Ingredient</label>
      <div class="col-xs-8 col-sm-10">
        {{#x-select value=model.ingredient.content action="selectIngredient" class="c-select" name="ingredient"}}
          <option>Select an ingredient</option>

          {{#each ingredients as |ingredient|}}
            {{#x-option value=ingredient}}{{ingredient.name}}{{/x-option}}
          {{/each}}
        {{/x-select}}

        {{errors-for this 'ingredient'}}
      </div>
    </div>

    <div class="form-group row">
      <label for="price" class="col-xs-4 col-sm-2 form-control-label">Price</label>
      <div class="col-xs-8 col-sm-10">
        {{twbs-input value=model.price
            class="monospaced"
            name="price"
            placeholder="1000.00"}}

        {{errors-for this 'price'}}
      </div>
    </div>

    <div class="form-group row">
      <label for="measureValue" class="col-xs-4 col-sm-2 form-control-label">Amount</label>
      <div class="col-xs-8 col-sm-10">
        {{twbs-input value=model.measureValue
            class="monospaced"
            name="measureValue"
            placeholder="1000"}}

        {{errors-for this 'measureValue' 'Amount'}}
      </div>
    </div>

    {{#if model.ingredient.measureable}}
      <div class="form-group row">
        <label for="measureUnit" class="col-xs-4 col-sm-2 form-control-label">Amount Unit</label>
        <div class="col-xs-8 col-sm-10">
          {{#x-select value=model.measureUnit class="c-select" name="measureUnit"}}
            {{#x-option value=null}}Select a valid unit{{/x-option}}

            {{#each unitwiseUnits as |unit|}}
              {{#x-option value=unit}}{{unit}}{{/x-option}}
            {{/each}}
          {{/x-select}}

          {{errors-for this 'measureUnit' 'Unit'}}
        </div>
      </div>
    {{/if}}

    {{#if model.ingredient.expireable}}
      <div class="form-group row">
        <label for="expiresOn" class="col-xs-4 col-sm-2 form-control-label">Expires On</label>
        <div class="col-xs-8 col-sm-10">
          {{pikaday-input value=model.expiresOn
              class="form-control monospaced"
              format="YYYY/MM/DD"
              minDate=todaysDate
              placeholder="YYYY/MM/DD"}}

          {{errors-for this 'expiresOn'}}
        </div>
      </div>
    {{/if}}

    <div class="row m-t-1">
      <div class="col-xs-12">
        {{twbs-btn
            type='submit'
            action='saveInventory'
            sizing='lg'
            text='Save'
            textDisabled='Saving'
            disabled=isSaving
            color='success'}}

        {{#twbs-btn action='cancelEditing' sizing="lg" color="default"}}
          Cancel
        {{/twbs-btn}}
      </div>
    </div>
  </form>
</div>
