<div class="container-fluid">
  <form {{action "saveIngredient" model on="submit" bubbles=false}}>
    <div class="form-group row">
      <label for="name" class="col-xs-4 col-sm-2 form-control-label">Name</label>
      <div class="col-xs-8 col-sm-10">
        {{twbs-input value=model.name name="name" focus=true placeholder="Whey Protein 85"}}
        {{errors-for this 'name'}}
      </div>
    </div>

    <div class="form-group row">
      <label for="label-name" class="col-xs-4 col-sm-2 form-control-label">Label</label>
      <div class="col-xs-8 col-sm-10">
        {{twbs-input value=model.labelName name="label-name" placeholder="Whey Protein"}}
      </div>
    </div>

    <div class="form-group row">
      <div class="col-xs-4 col-sm-2 form-control-label">Budgeted</div>
      <div class="col-xs-8 col-sm-10">
        <div class="checkbox">
          <label for="budgeted">
            {{input type="checkbox" name="budgeted" checked=model.budgetable disabled=(gt model.inventoryCount 0)}}
            {{#if (gt model.inventoryCount 0)}}
              <small class="text-muted"><em>Cannot edit this property.</em></small>
            {{/if}}
          </label>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-xs-4 col-sm-2 form-control-label">Measured</div>
      <div class="col-xs-8 col-sm-10">
        <div class="checkbox">
          <label for="measured">
            {{input type="checkbox" name="measured" checked=model.measureable disabled=(gt model.inventoryCount 0)}}
            {{#if (gt model.inventoryCount 0)}}
              <small class="text-muted"><em>Cannot edit this property.</em></small>
            {{/if}}
          </label>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-xs-4 col-sm-2 form-control-label">Expires</div>
      <div class="col-xs-8 col-sm-10">
        <div class="checkbox">
          <label for="expires">
            {{input type="checkbox" name="expires" checked=model.expireable disabled=(gt model.inventoryCount 0)}}
            {{#if (gt model.inventoryCount 0)}}
              <small class="text-muted"><em>Cannot edit this property.</em></small>
            {{/if}}
          </label>
        </div>
      </div>
    </div>

    <div class="row m-t-1">
      <div class="col-xs-12">
        {{twbs-btn
            type='submit'
            action='saveIngredient'
            actionParam=model
            sizing='lg'
            text='Save'
            textDisabled='Saving'
            disabled=isSaving
            color='success'}}

        {{#twbs-btn action='cancelEditing' sizing="lg" color="default"}}
          Cancel
        {{/twbs-btn}}
      </div>
    </div>
  </form>
</div>
