<div class="container-fluid">
  <form {{action "saveProduct" model on="submit" bubbles=false}} class="m-t-1">
    <div class="form-group row">
      <label for="name" class="col-xs-4 col-sm-2 form-control-label">Name</label>
      <div class="col-xs-8 col-sm-10">
        {{twbs-input value=model.name name="name" placeholder="Growtein"}}
        {{errors-for this 'name'}}
      </div>
    </div>

    <div class="row m-t-1">
      <div class="col-xs-12">
        {{twbs-btn
            type='submit'
            action='saveProduct'
            actionParam=model
            sizing='lg'
            text='Save'
            textDisabled='Saving'
            disabled=isSaving
            color='success'}}

        {{#twbs-btn action='cancelEditing' sizing="lg" color="default"}}
          Cancel
        {{/twbs-btn}}
      </div>
    </div>
  </form>
</div>
