<header id="sidebar-header" class="sidebar-wrapper">
  <h3 id="sidebar-brand">Phoenix</h3>

  <div id="sidebar-toggle">
    <a id="sidebar-toggle-button" href="#">
      {{fa-icon "bars"}}
    </a>
  </div>
</header>

<nav id="sidebar-menu">
  {{#link-to 'app.dashboard'}}
    {{fa-icon "dashboard" fixedWidth=true}}
    Dashboard
  {{/link-to}}

  <h4 class="m-t-1">Product Management</h4>

  {{#link-to 'app.products'}}
    {{fa-icon "truck" fixedWidth=true}}
    Products
  {{/link-to}}

  <h4 class="m-t-1">Recipe Management</h4>

  {{#link-to 'app.recipes'}}
    {{fa-icon "flask" fixedWidth=true}}
    Recipes
  {{/link-to}}

  <!-- {{#link-to 'app.inventories'}}
    {{fa-icon "flask" fixedWidth=true}}
    Recipes
  {{/link-to}} -->

  <h4 class="m-t-1">Raw Information</h4>

  {{#link-to 'app.nutrients'}}
    {{fa-icon "heart" fixedWidth=true}}
    Nutrients
  {{/link-to}}

  {{#link-to 'app.ingredients'}}
    {{fa-icon "eyedropper" fixedWidth=true}}
    Ingredients
  {{/link-to}}

  {{#link-to 'app.inventories'}}
    {{fa-icon "archive" fixedWidth=true}}
    Inventory
  {{/link-to}}
</nav>

<nav id="sidebar-account">
  {{#link-to 'auth.logout'}}
    {{fa-icon "power-off" fixedWidth=true}}
    Logout
  {{/link-to}}
</nav>
