ul.breadcrumb {
  padding: 0px;
  margin: 0px;
  list-style: none;
  @include clearfix;

  > li {
    float: left;
    font-size: 1.1em;
    font-weight: bold;

    &, a {
      color: $breadcrumb-link-color;
      text-decoration: none;
    }

    a {
      border-bottom: 1px dotted $breadcrumb-link-underline-color;
      &:hover {
        border-bottom-color: $breadcrumb-link-active-underline-color;
        border-bottom-style: solid;
      }
    }

    + li::before {
      padding-right: 4px;
      padding-left: 8px;
      color: $breadcrumb-separator-color;
      content: ">";
    }
  }

  > .active {
    color: $breadcrumb-link-active-color;
  }
}
