@import '../theme/mixins';
@import '../theme/variables';

#flash-messages {
  position: fixed;
  z-index: 100;
  width: 100%;

  .alert {
    margin-bottom: 0px;
    padding: 10px;
    border: none;
    display: none;

    &:hover {
      cursor: pointer;
    }

  /*   @mixin alert-colors($bg) {
    background-color: $bg;
    border-right-color: darken($bg, 10%);

    &:hover {
      background-color: lighten($bg, 10%);
    }
  }

  &.alert-success {
    @include alert-colors($alert-success-bg);
  }

  &.alert-danger {
    @include alert-colors($alert-danger-bg);
  }

  &.alert-info {
    @include alert-colors($alert-info-bg);
  }

  &.alert-warning {
    @include alert-colors($alert-warning-bg);
  } */
  }

  @include media-breakpoint-up(sm) {
    right: 0px;
    max-width: 500px;
    width: 500px;

    .alert {
      padding: 15px;
      border-right-width: 4px;
      border-right-style: solid;
    }
  }
}
