

.form-group.row {
  border-bottom: 1px dashed $app-gray-light;
  margin-bottom: 0px;

  .form-control-label {
    font-weight: bold;
  }

  .form-control {
    border: none;
    padding-top: .75em;

    &.monospaced {
      font-family: monospace;
    }

    &:focus {
      background-color: $app-gray-lighter;
    }
  }

  .checkbox {
    margin-top: $input-padding-y;
    margin-left: $input-padding-x;
  }

  .c-select {
    margin-top: $input-padding-y / 2;
    margin-left: $input-padding-x;
    padding-top: .30em;
    padding-bottom: .30em;
    background-color: $app-gray-lighter;
    border-color: $app-gray;

    & + small.error-message {
      margin-top: 10px;
    }
  }

  .error-message {
    display: none;

    $_half: $input-padding-y/2;
    margin-bottom: $_half;
    margin-left: $input-padding-x;

    &.errored {
      display: block;
    }
  }
}
