@import '../theme/variables';

div.page-numbers {
  float: left;
}

div.page-numbers + .c-select {
  margin-top: $spacer-y;
  margin-bottom: $spacer-y;
  margin-left: $spacer-y;
  padding-top: $pagination-padding-y;
  padding-bottom: $pagination-padding-y;
}
