@import '../theme/variables';

span.label {

  // Builds - prototype, testing, rejected, finalized

  &.label-pending,
  &.label-prototype {
    background-color: $label-default-bg;
  }

  &.label-testing {
    background-color: $label-primary-bg;
  }

  &.label-rejected {
    background-color: $label-danger-bg;
  }

  &.label-recorded,
  &.label-finalized {
    background-color: $label-success-bg;
  }
}
