th {
  .fa-sort {
    color: $app-gray-light;
  }

  &.active {
    color: $table-header-active-color;
  }
}

table {
  &.table-sm {
    .btn-group-sm .btn {
      padding: .10em $input-padding-x;
    }
  }

  &.with-actions {
    thead th:last-of-type,
    tbody tr td:last-of-type {
      width: 120px;
    }
  }

  td.shrink {
    width: 1%;
    white-space: nowrap;
  }
}
