header.table-header {
  display: flex;
  flex-position: row;
  background-color: $app-gray-lighter;
  border-bottom: 2px solid $app-gray-light;

  // ---------------------------------------------------------------------------
  // Any child element is flexed

  div, ul {
    flex: 1;
    display: flex;
    padding: 8px 8px;

    &:first-of-type {
      margin-left: 8px;
      padding-left: 0px;
    }

    &:last-of-type  {
      margin-right: 8px;
      padding-right: 0px;
    }
  }

  // ---------------------------------------------------------------------------
  // Search Filter

  .input-group.filter {
    flex: 1;
    .input-group-addon,
    .form-control {
      background: none;
      border: none;
      font-size: 1.1em;
      padding: 0px;
    }

    .input-group-addon {
      color: $app-gray;
      font-size: 1.3em;
      margin: 4px 8px 0px 0px;
    }

    input:focus {
      color: #000;
    }
  }

  // ---------------------------------------------------------------------------
  // Navigation Pills

  ul.nav.nav-pills {
    a {
      padding: .25em .75em;
      border-radius: $section-nav-pill-radius;

      color: $section-nav-pill-color;
      background-color: $section-nav-pill-bg;

      &.active {
        color: $section-nav-pill-active-color;
        background-color: $section-nav-pill-active-bg;
      }
    }
  }

  // ---------------------------------------------------------------------------
  // Action/Button Groups

  .action-group {
    $group-margin: 5px;
    justify-content: flex-end;
    flex: 0 auto;

    &.action-group-left {
      justify-content: flex-start;
    }

    .btn {
      margin-left: $group-margin;
      padding: .25em .75em;
      font-size: 1rem;
      border-radius: $section-nav-pill-radius;

      &.active {
        outline: none;
      }
    }

    &.action-group-left {
      margin-left: 0px;
      margin-right: $group-margin;
    }

    &.action-group-filters {
      .btn {
        background-color: $section-nav-pill-bg;
        color: $section-nav-pill-color;

        &:not(:first-child) {
          margin-left: 0px;
          border-top-left-radius: 0px;
          border-bottom-left-radius: 0px;
        }

        &:not(:last-child) {
          margin-right: 0px;
          border-top-right-radius: 0px;
          border-bottom-right-radius: 0px;
        }

        &:hover {
          background-color: $app-gray-light;
        }

        &:focus, &.active {
          outline: none;
          background-color: $section-nav-pill-active-bg;
          color: $section-nav-pill-active-color;
        }
      }
    }
  }

  // ---------------------------------------------------------------------------
  // Select Filter

  .filter-select {
    flex-grow: 0;
    display: flex;
    align-items: center;

    a.clear-filter {
      flex-grow: 0;
      color: $app-gray-light;
      font-size: 1.25em;
      margin-right: .35em;

      &:hover {
        color: $app-gray;
      }
    }
  }

  // If a table follows the header, remove it's border
  + table.table.table-bordered {
    &, thead th {
      border-top: none;
    }
  }
}
