@import '../theme/variables';

tr.is-editing {
  .form-control {
    width: 140px;
    padding: .35em;
    font-size: .9rem;
  }

  .c-select {
    font-size: .9rem;
  }

  .btn-sm {
    padding: .5em .75em;
  }

  small.error-message {
    display: block;
  }

  .type-icon {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
