.type-icon {
  display: inline-block;
  padding: 1px 12px;
  background-color: $app-gray;
  color: #fff;
  font-family: monospace;

  &.type-icon-ingredient {
    background-color: $ingredient-bg;
    color: $ingredient-color;
  }

  &.type-icon-recipe {
    background-color: $recipe-bg;
    color: $recipe-color;
  }
}
