@import '../theme/variables';


/* Clickable Elements */

.clickable:hover {
  cursor: pointer;
}

/* Text Styles */

.text-mono {
  font-family: monospace !important;
}

/* Borders */

@each $prop, $abbrev in (border: b) {
  @each $style in solid, dashed {
    $value: 1px $style $app-gray;

    .#{$abbrev}-a-#{$style} { #{$prop}:        $value !important; }
    .#{$abbrev}-t-#{$style} { #{$prop}-top:    $value !important; }
    .#{$abbrev}-r-#{$style} { #{$prop}-right:  $value !important; }
    .#{$abbrev}-b-#{$style} { #{$prop}-bottom: $value !important; }
    .#{$abbrev}-l-#{$style} { #{$prop}-left:   $value !important; }

    // Axes
    .#{$abbrev}-x-#{$style} {
      #{$prop}-right:  $value !important;
      #{$prop}-left:   $value !important;
    }
    .#{$abbrev}-y-#{$style} {
      #{$prop}-top:    $value !important;
      #{$prop}-bottom: $value !important;
    }
  }
}
