<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 col-sm-push-3">

      <h3 class="text-danger m-t-2">Error</h3>

      {{#if model.errors.firstObject.detail}}
        <p>
          We received the following error message attempting to load the
          application:
        </p>
      {{/if}}

      <hr class="m-y-1">

      <p>
        {{#if model.errors.firstObject.detail}}
          <b>Status:</b> {{model.errors.firstObject.status}}<br>
          <b>Message:</b> {{model.errors.firstObject.detail}}<br>

        {{else}}
          There was an unknown error loading the application.
        {{/if}}
      </p>
    </div>
  </div>
</div>
